.data {
  padding-bottom: 50px;
}

.data-list {
  padding: 50px;
  list-style: none;
  background-color: $color-semidark;
  border-radius: 10px;
}

.data-item {
  display: none;
  justify-content: space-between;
  // margin-bottom: 50px;
  // opacity: 0;

  &.active {
    display: flex;
    // opacity: 1;
  }
}

.data-error {
  font-size: 16px;
  font-style: 700;
  text-align: center;
}

.data-pic {
  flex-basis: 50%;
  align-self: center;
}

.data-img {
  border-radius: 10px;
  transition: all .1s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    // box-shadow: 0 0 50px -10px rgba($color-semilight, .5);
    border: 1px solid $color-accent-blue;
  }
}

.data-info {
  flex-basis: 45%;
}

.data-info-date {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  color: $color-accent-purple;
  text-align: center;
}

.data-info-desc {
  margin-bottom: 20px;
  line-height: 21px;
}

.data-info-list {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.data-info-item {
  padding: 10px;
  flex-basis: 50%;
}

.data-info-title {
  margin-bottom: 10px;
  font-weight: 900;
  line-height: 21px;
  color: $color-accent-blue;
}

.data-info-text {
  line-height: 21px;
}

.data-info-text-accent {
  color: $color-semilight;
}
